<div class="row occupation">
  <div class="wrapper one column">
    <div class="occupation-date-span">
      <div class="occupation-date">
        <div class="inner occupation-date-end">
            {{end}}
        </div>
      </div>

      <div class="occupation-until">
      </div>

      <div class="occupation-date">
        <div class="inner occupation-date-start">
            {{start}}
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper eleven columns">
    <h2 class="occupation-employer"><a href="{{employerUrl}}">{{employerName}}</a></h2>
    <span class="occupation-title">{{jobTitle}}</span>
    <ul class="occupation-description">
      {{#each description}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
