<div class="row occupation">
  <div class="wrapper one column">
    <div class="occupation-date-span">
      <div class="occupation-date">
        <div class="inner occupation-date-inner occupation-date-end">
            {{end}}
        </div>
      </div>

      <div class="occupation-until">
      </div>

      <div class="occupation-date">
        <div class="inner occupation-date-inner occupation-date-start">
            {{start}}
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper eleven columns occupation-data">
    <h3 class="occupation-employer"><a href="{{employerUrl}}" target="_blank">{{employerName}}</a></h3>
    <h4 class="occupation-title">{{jobTitle}}</h4>
    <ul class="occupation-description">
      {{#each description}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
